<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <%- include('./partials/header') %>
        <h1>Feed Page</h1>
    </header>

    <!--Post List-->
    <ul id="postList">
        <% posts.forEach((post) => { %>
        <li>
            <p>
                <%= post.title %><br>
                <a href="/post/<%= post._id %>">
                    <img class="image-resize" src="<%= post.image %>" alt=""><br>
                </a>
                <%= post.description %><br>
            </p>
            <p>
                Posted By: <%= post.createdBy.username %>
            </p>
        </li>
        <% }); %>
    </ul>

    <script src="/js/script.js"></script>
</body>
</html>