<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <%- include('./partials/header') %>
        <h1>Item Page</h1>
    </header>

    <!--Create-->
    <form id="createForm" action="/item" method="POST">
        <input type="text" name="name" placeholder="item name" required>
        <input type="text" name="description" placeholder="item description" required>
        <button type="submit">Create Item</button>
    </form>

    <!--Update-->
    <form id="updateForm" action="/item/update/" method="POST">
        <input type="text" name="name" id="updateName" placeholder="New item name" required>
        <input type="text" name="description" id="updateDescription" placeholder="item description" required>
        <button type="submit">Create Item</button>
    </form>

    <!--Item List-->
    <ul id="itemList">
        <% items.forEach((item) => { %>
        <li>
            <span><%= item.name %> : <%= item.description %></span>
            <button onClick="editItem('<%= item._id %>', '<%= item.name %>', '<%= item.description %>')">Edit</button>
            <button onClick="deleteItem('<%= item._id %>')">Delete</button>
        </li>
        <% }); %>
    </ul>

    <script src=""></script>
</body>
</html>