<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <%- include('./partials/header') %>
        <h1 class="mt-3"><%= post.title %></h1>
    </header>
    <div class="text-center p-4">
        <img src="<%= post.image %>" class="img-fluid w-25 " alt="...">
    </div>
    <p class="fs-3 monospace p-3">
        <%= post.description %>
    </p>
    <p class="fs-4 monospace p-3">
        Posted By: <%= post.createdBy.username %>
    </p>
    
    <!-- Form for submitting comment  -->

    <form action="/comment/createComment/<%= post._id %>" method="POST">
        <div class="form-floating mx-3">
          <textarea  type="text" name="comment" class="form-control w-50" placeholder="Type comment here" placeholder="post comment here" id="floatingTextarea" required></textarea>
          <label for="floatingTextarea" class="form-label">Comment</label>
        </div>
        <button type="submit" class="mt-3 mx-3 btn btn-dark">Post</button>
    </form>
    <ul class="list-unstyled p-3">
        <% comment.forEach((comments) => { %>
            <li>
                <div class="card w-75 mb-3">
                    <div class="card-body">
                      <h5 class="card-title text-capitalize"><%= comments.createdBy.username %>:</h5>
                      <p class="card-text"><%= comments.comment %></p>
                      <% if(comments.createdBy._id.equals(user._id)) { %>
                      <button onClick="deleteComment('<%= comments._id %>')" class="btn btn-danger">Delete</button>
                    <% } %>
                    </div>
                </div>
            </li>
        <% }) %>
    </ul>
    <script src="/js/script.js"></script>
</body>
</html>


<!-- Form for submitting a comment without Bootstrap -->

<!-- <form action="/comment/createComment/<%= post._id %>" method="POST">
        <p>
            <label for="comment">Comment</label> <br>
            <input type="text" name="comment" placeholder="post comment here" id="comment" required> <br>
            <button type="submit" class="btn btn-dark">Create Post</button>
        </p>
    </form> -->


    <!-- Code snippet for showing comments without Bootstrap -->

    <!-- <ul>
        <% comment.forEach((comments) => { %>
            <li>
                <p>
                    <%= comments.comment %><br>
                    <%= comments.createdBy.username %>
                    <% if(comments.createdBy._id.equals(user._id)) { %>
                    <button onClick="deleteComment('<%= comments._id %>')" class="btn btn-danger">Delete</button>
                    <% } %>
                </p>
            </li>
        <% }) %>
    </ul> -->